.container {
  width: 100%;
  min-height: 110vh;
  background-image: url('../assests/board(4).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Main Content */
.mainContent {
  padding: 100px 70px;
  max-width: 700px;
}

.title {
  font-size: 72px;
  font-weight: 800;
  color: var(--txt-grey);
  margin-bottom: 40px;
  letter-spacing: 0px;
  line-height: 1.1;
}

.description {
  font-size: 20px;
  font-weight: 500;
  color: var(--muted-txt);
  line-height: 1.6;
  letter-spacing: 0.3px;
}
